body {
  font-family: "Poppins", sans-serif;
  background: #0d1117;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

#lockscreen {
  margin-top: 20vh;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 200px;
  margin: 10px;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #238636;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2ea043;
}

#vault {
  padding: 40px;
}

.section {
  margin-top: 40px;
  background: #161b22;
  padding: 20px;
  border-radius: 12px;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}